body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/*.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
     
flex-direction: column-reverse;

}

.wrapper .title{

    font-size: 2em;
    margin-bottom: 5rem;

}

.menu{
    list-style: none;
    margin-bottom: 2rem;

}

.menu .list-item{
    height: 30px;
    width: 40px;
    padding: 2px;
   
    margin: 4px 0;

}
 

.list-item .fa{
text-align: center;
    line-height: 40px;

}

.list-item a span{
    width: 0;
    left: 40px;
padding: 0;
position: absolute;
overflow: hidden;
font-family:'Times New Roman', Times, serif;
font-size: 18px;
font-weight: bold;
letter-spacing: 0.6;
white-space: nowrap;
line-height: 40px;
transition: 0.25s;

}

.list-item a{
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: #fff;
    position: relative;

}

.list-item a:hover span{
width: auto;
padding: 0 20px;
overflow: visible;
}


.inicio, .inicio span{
    background: #132A13;

}

.soporte, .soporte span{
    background: #31572C;

}

.contacto, .contacto span{
    background: #4F772D;

}

.sugerencias, .sugerencias span{
    background: #96ae5a;
}


/* nav
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
    
    }
    .nav_title{
    
    
        font-weight: 300;
       
    
    }
    .nav_items{
    
    
        list-style: none;
    }
    .nav_link{
        margin-left: auto;
        padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    
    }
    .nav_links{
    
    
    color: #5a4168;
    text-decoration: none;
    
    }
    .nav_menu{
    
    
    
        margin-left: auto;
        cursor: pointer;
        display: none;
    }
    .nav_img{
    
    
    display: block;
    width: 30px;
    
    
    }
    .nav_close{
    
        display: var(--show,none);
    }
    .hero_container{
        max-width: 800px;
        
        --padding-container:0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
        }
        .hero_title{
        font-size: 3rem;
        
        }
        
        
        
        
        .hero_paragraph{
        
        
            margin-bottom: 20px;
        
        }*/

        
/*MENU*/
        .nav-men ul {
          list-style:none;
            font-size: 1rem;
           

        }

        .nav-men{
         position: relative;
            display: inline-block;
            height: 45px;
            width: 200px;
            border-top-left-radius: 4px;
            border-top-right-radius:4px ;
            line-height: 45px;
            text-align: center;
            cursor: pointer;
            background-color: #fff;
        }

        .nav-desplazo{
            position: absolute;
            width: 200px;

        }

        .nav-desplazo li{
            display: none;
            opacity: 0;
            background-color: #5a4168;
            transition: color .3s;

        }

        .nav-desplazo li:hover{
            background: white;
        }

        .nav-men:hover .nav-desplazo li{
          display: block;
            animation: animation .5s forwards
        ;

        }

        @keyframes animation{
            from{
                opacity: 0;
                transform: translate(50px);
            }
            to{
                opacity: 1;
                transform: translate(0);
            }
        }



        .nav-men .nav-desplazo li:nth-last-child(1){

border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;

        }

        .nav-men:hover .nav-desplazo li:nth-child(2){
            animation-delay: .2s;
        }

        .nav-men:hover .nav-desplazo li:nth-child(3){
            animation-delay: .4s;
        }

       
        .nav-men:hover .nav-desplazo li:nth-child(4){
            animation-delay: .6s;
        }

       